<header  class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
	<div class="container">
		<%= link_to "my_twitter",root_path,id: "logo" %>
		<nav>
		<ul class="nav pull-right">
			<li><a><%= link_to "Home", root_path %></a></li>
			<li><a><%= link_to "Help", help_path %></a></li>
			<li><a><%= link_to "Sign in", sign_up_path %></a></li>
		</ul>
		</nav>
	</div>
</div>
</header>
